.scroller {
    width: 33px;
    height: 33px;

    background-color: #96a3cf;

    border-radius: 50%;

    display: block;

    cursor: pointer;

    opacity: 0;

    margin: 10px;

    transition: rotate 0.3s;

    &__arrow {
        position: absolute;
        top: 38%;
        left: 35%;
        width: 10px;
        height: 10px;
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        margin-right: 40px;
        rotate: -45deg;
    }

    &_down {
        rotate: 180deg;
    }
}
