.sidebar {
    max-width: 290px;
    padding-top: 30px;

    canvas {
        max-width: 290px;
    }

    &__vacancy {
        margin-top: 52px;
        margin-bottom: 80px;
    }
}

@media (max-width: 1024px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        align-self: center;

        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .sidebar {
        margin: 3px 5px 0;
    }
}

@media (max-width: 600px) {
    .sidebar {
        margin-bottom: 40px;
    }
}
