.header-btn {
    padding: 0;

    width: 172px;
    height: 40px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
